
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

main {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #000; 
  color: #fff; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #fff;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  height: 80%; 
}


.ingredient-list {
  width: 45%; 
}

.ingredient-list h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #fff;
}

.ingredient-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ingredient-list li {
  border: 1px solid #333; 
  border-radius: 8px;
  margin: 10px 0;
  padding: 15px;
  text-align: left;
  background-color: #444; 
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  position: relative;
}

.ingredient-list button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.ingredient-list button:hover {
  background-color: #0056b3;
}


.burger-stack {
  width: 45%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burger-stack h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #fff;
}

.burger-stack img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.burger-stack ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.burger-stack li {
  border: 1px solid #333; 
  border-radius: 8px;
  margin: 10px 0;
  padding: 15px;
  text-align: left;
  background-color: #444; 
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  position: relative;
}

.burger-stack button {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.burger-stack button:hover {
  background-color: #c82333;
}

